{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!DOCTYPE html>
<html>

<head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <style>
        body {
            background-image: url(https://media4.giphy.com/media/FlodpfQUBSp20/giphy.gif);
        }
    </style>
</head>

<body">
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Welcome!</h1>
                </div>
                <div class="content">
                    <h3>Record all your thoughts and dreams throughout life.</h3>
                    </br>
                    <p>This is a site to keep track of all the thoughts you've had in life. To record thoughts click on
                        the
                        navbar up top and click on the section thoughts. In there you will see a space to write what you
                        please! This can also
                        be use in many other ways like a todo list or just keeping notes! This is a safe space of
                        whatever you please! </p>
                </div>
            </div>

        </div>

    </div>


    </body>

</html>
{% endblock %}