{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!DOCTYPE html>
<html>

<head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <style>
        body {
            background-image: url(https://media4.giphy.com/media/FlodpfQUBSp20/giphy.gif);
        }
    </style>
</head>

<body">
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">

                    <h1 class="animate-character">Welcome!</h1>
                </div>
                <div class="content">
                    <h3>Record all your thoughts and dreams throughout life.</h3>
                    </br>
                    <p>This is a site to keep track of all the thoughts you've had in life. To record thoughts click on
                        the
                        navbar up top and click on the section thoughts. In there you will see a space to write what you
                        please! This can also
                        be use in many other ways like a todo list or just keeping notes! This is a safe space of
                        whatever you please! </p>
                    <h3>My Mission</h3>
                    <p>The type of users that I am trying to reach are people of all ages wanting
                        to jot random thoughts or need to clear their mind. What I would hope for users to get from this
                        page is
                        a safe space for people to relieve stress and get off what's on their mind. There are many
                        people out there who
                        are burdenend from their own head so a problem I wanted to fix is for users to have something
                        quick and easy and create that safe space for them. </p>
                </div>
            </div>

        </div>

    </div>
    </br>

    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1 class="animate-character">About Me!</h1>
                </div>
                <div class="content">
                    <h3>Hi! I'm Sydney and I am currently a student at GSU about to graduate May 2022.<h3>
                            </br>
                            <p>I chose to do this as my project because I always enjoyed jotting down my thoughts and
                                journaling my dreams. So i thought
                                it would be cool to see myself create a website doing these things! I used mainly
                                python, HTML, CSS, javascript, and bootstrap to help
                                complete this assignment. With the help of YouTube and Google also to try and create new
                                things and templates. I have learned a lot in this class,
                                but the thing that stuck out the most was having fun and being creative. Creating a
                                website isn't easy but following along with the letures made it enjoyable.
                                I would reccomend this class to other students wanting to learn more about web
                                programming. </p>

                </div>
            </div>

        </div>

    </div>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1 class="animate-character">What I had to do</h1>
                </div>
                <div class="content">
                    <h3>
                        <li>create database for user's username, password, and notes shown all throughout the
                            site(thoughts and login)</li>
                        <li>create html for these pages login,signup,home,thoughts shown in all the tabs in navbar</li>
                        <li>create navbar and put it in all html pages so things are accessible in all pages</li>
                        <li>design site to make it a same theme adding background and deciding on a font</li>
                        <li>deploying website on heroku so it is available to the public</li>
                        <li>creating the "dummy" account</li>
                    </h3>
                </div>
            </div>

        </div>

    </div>

    </body>

</html>
{% endblock %}