@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
    
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color: rgb(57, 59, 99);
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}

.content-section .title{
	text-transform: uppercase;
	font-size: 28px;

}
.content-section .content h3{
	margin-top: 20px;
	color:#fffafa;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	line-height: 1.5;
    color: rgb(195, 205, 228);
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #fffafa;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #ffffff;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#ffffff;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#fffbfb;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
.animate-character
{
   text-transform: uppercase;

  background-image: linear-gradient(
    -225deg,
    #9f8fdb 0%,
    #4470a1 29%,
    #d379d3 67%,
    #ffffff 100%
  );
  background-size: 200px;
  background-clip: 200px;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
